<!DOCTYPE html>
<html>
<head>
<meta charset=”UTF-8” />
<link rel="icon" href="img/icon-car.png" />
<title>AC - Comercio Eletrônico</title>

<style>
    button {
        width: 80px;
        height: 20px;
    }

    footer {
        position: fixed;
        bottom: 0%;
        display: block;
        width: 100%;
    }

    footer > div{
        width: 100%;
    }

    footer > div ul {
        list-style: none;
        display: inline-block;
    }

    footer > div p.copy {
        text-align: center;
    }
	form-control ls-login-bg-user input-lg{
		i
	}
</style>
</head>

<body align="center" bgcolor="#e6e6e6">
    <h1><strong> Consultoria de Carros e Acessórios</strong></h1><br>
    <div class="form-group ls-login-user">
        <label for="userLogin">Usuário</label>
        <input class="form-control ls-login-bg-user input-lg" id="userLogin" type="text" aria-label="Usuário" placeholder="Usuário">
    </div><br>
    <div class="form-group ls-login-password">
        <label for="userPassword">Senha</label>
        <input class="form-control ls-login-bg-password input-lg" id="userPassword" type="password" aria-label="Senha" placeholder="Senha">
    </div> <br>

    <!-- <a href="html/profile.html" class="ls-login-forgot">Esqueci minha senha</a>-->

    <button onclick="window.location.href='html/profile.html'" type="submit" class="btn btn-primary btn-lg btn-block">Entrar</button>
    <p class="txt-center ls-login-signup">Não possui um usuário na Consultoria de Carros e Acessórios?
        <a href="html/register.html">Cadastre-se agora</a>
    </p>
    
</body>

<footer align="left">
        <div>
            <p><strong>Sistemas de Informação</strong>
                    <ul>
                        <li> Desenvolvido por:
						<br>
                            Erick Oliveira - RA:1600293
						<br>
                            Daniel do Valle - RA:1600204
                        </li>
                    </ul>
            </p>
        </div>

        <div>
            <p class="copy">
                Copyright Erick e Daniel © 
            </p>
        </div>    
       
</footer> 

</html>