<!DOCTYPE html>
<html>
<head>
<meta charset=”UTF-8” />
<link rel="icon" href="../icon-car.png" />
<title>AC - Comercio Eletrônico</title>

<style>
    button {
        width: 180px;
        height: 50px;
    }

    footer {
        position: fixed;
        bottom: 0%;
        display: block;
        width: 100%;
    }

    footer > div{
        width: 100%;
    }

    footer > div ul {
        list-style: none;
        display: inline-block;
    }

    footer > div p.copy {
        text-align: center;
    }
</style>
</head>

<body align="center" bgcolor="#e6e6e6">
    <h1><strong> Consultoria de Carros e Acessórios</strong></h1><br>
    <p>
        <button onclick="window.location.href='cars.html'" type="submit">Escolha seu carro</button><br>
    </p>
    <p>
        <button onclick="window.location.href='accessories.html'" type="submit">Escolha seu acessório</button><br>
    </p>    
</body>

<footer align="left">
        <div>
            <p><strong>Sistemas de Informação</strong>
                    <ul>
                        <li> Desenvolvido por:
						<br>
                             Erick Oliveira - RA:1600293
						<br>
                             Daniel do Valle - RA:1600204
                        </li>
                    </ul>
            </p>
        </div>

        <div>
            <p class="copy">
                Copyright Erick e Daniel © 
            </p>
        </div>       
</footer> 
</html>